.aside {
  background-color: rgb(29, 29, 29);
  width: 220px;
  height: 100%;
  z-index: 1000;
  position: fixed;
  padding-top: 80px;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid rgb(46, 46, 46);
  div {
    display: flex;
    align-items: center;
    padding: 20px 0 20px 40px;
    width: 180px;
    color: rgb(241, 241, 241);
    &:hover {
      background-color: rgb(46, 46, 46);
    }

    a {
      margin-left: 15px;
    }
  }
}

.list-bar {
  display: flex;
  flex-direction: column;
  padding: 30px 0 30px 40px;
  color: rgb(172, 172, 172);
  border-bottom: 1px solid rgb(46, 46, 46);

  div {
    margin-bottom: 10px;
    font-size: 14px;
  }

  :first-child {
    color: rgb(241, 241, 241);
    margin-bottom: 15px;
    font-size: 16px;
  }

  &:hover {
    background-color: rgb(46, 46, 46);
  }
  input {
    width: 150px;
    height: 300px;
    background-color: rgb(22, 22, 22);
    border: 1px solid rgb(102, 102, 102);
    outline: none;
  }
}
