.container {
  position: relative;
  padding-top: 85px;
  padding-bottom: 60px;
  width: 100%;
  overflow: hidden;
}

.ranking {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 550px;
  width: 100vw;
  background-color: rgb(12, 12, 12);
  padding: 70px 0 20px 420px;

  h1 {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 120px;
    font-size: 26px;
  }
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 1300px;
  font-size: 20px;
  padding-bottom: 30px;
  color: aliceblue;
  font-weight: bold;

  a {
    display: flex;
    margin-right: 20px;
    font-weight: 400;
    font-size: 14px;
    color: rgb(100, 100, 100);
    text-decoration: none;
  }
}

.product-image {
  img {
    border-radius: 3px;
    width: 240px;
    height: 340px;
    object-fit: cover;
  }
}

.product-description {
  padding-top: 10px;
  color: rgb(105, 105, 105);
}

.swiper-wrapper {
  display: -webkit-inline-box;
}

.swiper {
  width: 1300px;
  overflow: hidden;
}

.category-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  padding: 100px 0 100px 420px;
  border-top: 1px solid rgb(37, 37, 37);
}

.content-list {
  display: flex;
}
.product-item {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 0;
  margin-right: 20px;
  transition: all 0.1s ease-in;

  &:hover {
    top: -3px;
    opacity: 80%;
  }
}
